<h2>Welcome to short.com</h2>
<%= form_tag(shorten_path, remote: true) do |f|%>
 <%= label_tag 'Please enter your url here'%>
 <%= text_field_tag :url, "", required: true%>
 <%= submit_tag :shorten%>
<%end%>

<p></p>

<div id="short_url">
</div>
