<h2>Analytics</h2>

<br/>

<% @urls.each do |url|%>
  <b><%= url.full_url %></b><br/>
  <%= "http://localhost:3001/" + url.short_url %>
  <br/>
  <br/>
  Total Clicks: <%= url.click %> <br/>
  Top Countries: <%= url.stats.group(:country).order("count(stats.id) DESC").limit(3).map(&:country).join(",")%>
  <hr/>
<%end%>
